/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run epidivere/wgbs -profile test
 */


params {

    // enable all steps
    merge = true
	INDEX = true
    trim = true
    fastqc = true

	// genome reference
	reference = "https://github.com/epidiverse/datasets/raw/wgbs/reference/genome.fa"

    // set readPaths parameter (only available in test profile)
    readPaths = [
    ['sampleA', ['https://github.com/epidiverse/datasets/raw/wgbs/input/sampleA_1.fastq.gz','https://github.com/epidiverse/datasets/raw/wgbs/input/sampleA_2.fastq.gz']],
    ['sampleB', ['https://github.com/epidiverse/datasets/raw/wgbs/input/sampleB_1.fastq.gz','https://github.com/epidiverse/datasets/raw/wgbs/input/sampleB_2.fastq.gz']]
    ]

    // set mergePaths parameter (only available in test profile)
    mergePaths = [
    ['sampleA', ['https://github.com/epidiverse/datasets/raw/wgbs/merge/sampleA_1.fastq.gz','https://github.com/epidiverse/datasets/raw/wgbs/merge/sampleA_2.fastq.gz']],
    ['sampleB', ['https://github.com/epidiverse/datasets/raw/wgbs/merge/sampleB_1.fastq.gz','https://github.com/epidiverse/datasets/raw/wgbs/merge/sampleB_2.fastq.gz']]
    ]
}